<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Best English Resources API</title>
    <meta
      name="description"
      content="Access the best English learning resources via our API."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="box has-text-centered">
              <h1 class="title">Welcome to the English 🇬🇧 Resources API 🖥️</h1>
              <p class="subtitle">
                You can access the resources through the following endpoints:
              </p>
              <ul class="has-text-left">
                <li>
                  <a class="button is-link is-light" href="/resources"
                    >/resources</a
                  >
                  : Get a list of all resources
                </li>
                <li>
                  <a class="button is-link is-light" href="/resources/77"
                    >/resources/&lt;id&gt;</a
                  >
                  : Get a specific resource by ID
                </li>
                <li>
                  <a class="button is-link is-light" href="/resources/random"
                    >/resources/random</a
                  >
                  : Get a random resource
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
